*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 100px;
    background-color: rgba(241, 193, 201, 0.671);
}

/* Menu */
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 0;
}
.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(247, 60, 91);
}
.nav .logo b{
    color: rgb(248, 160, 72);
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

/* ACTIVE */
.nav ul .active:hover:after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: rgb(248, 160, 72);
    display: flex;
    position: relative;
    margin-left: 10px;
}
.nav ul li a:hover{
    color: rgb(248, 160, 72);
}
/* INPUT */
input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}
.signin{
    background-color: transparent;
    border: none;
}
.signup{
    background-color: orange;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}
.signup:hover{
    background-color: rgba(201, 63, 9, 0.808);
}
/* Content */
.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.content .content-left{
    display: block;
    width: 100%;
}
.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
}
.content .content-left button{
    padding: 10px 23px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.content .content-right img{
    width: 400px;
    height: auto;
    position: relative;
    border-radius: 50%;
    box-shadow: 15px 18px 10px grey;
}

/* CARDS */
.shop{
    /* padding: 6%; */
    text-align: center;
    color: orangered;
    margin-top: 60px;
    font-family: sans-serif;

}
.shop .heading::after{
    content: '';
    width: 40%;
    height: 3px;
    background-color: rgb(248, 160, 72);
    display: flex;
    position: relative;
    margin:auto;
}
.shop .box-container{
    margin: 3rem 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 20px;
    align-items: center;
}
.shop .box-container .box{
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: -5s;
    margin: 1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.shop .box-container .box img{
    width: 200px;
    margin: 0.7rem;
    border-radius: 15px;
    display: inline-block;
    transition: 0.5s;
    height: 250px;
    border: 2px solid rgb(248, 160, 72);
}
.shop .box-container .box:hover img{
    transform: scale(1.1);
}
.shop .box-container .box .price{
    position: absolute;
    text-align: center;
    top: 5%;
    font-size: 20px;
    background-color: tomato;
    border-radius: 20px 3px 0px 3px;
    padding: 8px 3px 3px 3px;
    color: white;
}
.shop .box-container .box .detail{
    width: 1005;
    position: absolute;
    left: 0; bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pad: 1rem;
}
.shop .box-container .box h1{
    font-size: 2rem;
    color: black;
}


        /* Footer Section */
        footer{
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: white;
            background-color: rgba(240, 95, 42, 0.801);
            padding-top: 1px;
            padding-left: 0;
        }

        .container{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 200px;
            margin-top: 10px;
        }


        h3{
            font-size: 28px;
            margin-bottom: 15px;
            text-align: center;
        }

        .footer_content{
            margin: 2px;
            justify-content: flex-start; 
            align-items: flex-end;      
        }
        .footer_content p{
            width: 100%;
            margin: auto;
            padding: 7px;
        }

        .footer_content ul{
            text-align: center;
        }

        
        .list{
            padding: 0;
        }

        .list li{
            width: auto;
            text-align: center;
            list-style-type: none;
            color: white;
            text-decoration: none;
            padding: 7px;
            position: relative;
        }

        .list li::before{
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 90%;
            width: 0;
            height: 2px;
            background-color: rgb(226, 39, 76);
        }

        .list li:hover::before{
            width: 70px;
        }

        .list li a{
            text-decoration: none;
            color: white;
        }

        .list li a:hover{
            color:rgb(226, 39, 76);
            font-weight: bold;
        }

          .list2{
            padding: 0;
        }

        .list2 li{
            width: auto;
            text-align: center;
            list-style-type: none;
            color: white;
            text-decoration: none;
            padding: 7px;
            position: relative;
        }

        .list2 li::before{
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 90%;
            width: 0;
            height: 2px;
            background: peru;
            
        }

        .list2 li:hover::before{
            width: 70px;
        }

        .list2 li a{
            text-decoration: none;
            color: white;
        }

        .list2 li a:hover{
            color: peru;
        }

        .Footer_content p{
            text-align: center;
           bottom: 5px;
            position: relative;    
        }
